@tailwind base;
@tailwind components;
@tailwind utilities;

/* Si vous voulez garder certains styles personnalisés, vous pouvez les ajouter ici */
@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}